/* General Style */
@import url("../css/slimmenu.min.css");
@import url("../css/owl.carousel.css");
@import url("../fonts/font-awesome/css/font-awesome.min.css");

/* ------------------------------------------------------------------ 
   font-family: 'Gill Sans';
------------------------------------------------------------------- */
@font-face {
    font-family: 'MyriadPro-Regular';
    src:url('../fonts/MyriadPro/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff');
}
@font-face {
    font-family: 'MyriadPro-Semibold';
    src:url('../fonts/MyriadPro/MyriadPro-Semibold.woff2') format('woff2'),
        url('../fonts/MyriadPro/MyriadPro-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'MyriadPro-Bold';
    src:url('../fonts/MyriadPro/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/MyriadPro/MyriadPro-Bold.woff') format('woff');
}

.grid_1200 {
	overflow-x: hidden;
}

/**/
body { 
    font-family: 'MyriadPro-Regular';
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	overflow-x: hidden;
	-ms-overflow-style: scrollbar;
	color: #001267;
	font-size: 16px;
	line-height: 1.3;
    font-weight: inherit;
	letter-spacing: 0;
}

p {
	color: #001267 ;
	font-size: 16px;
	line-height: 1.3;
    font-weight: inherit;
	letter-spacing: 0;
}

@media (max-width: 991px) {
	body,
	p {
		font-size: 15px;
	}
}

@media (max-width: 767px) {
	body,
	p {
		font-size: 14px;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.fit_img {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.fit_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* ------------------------------------------------------------------
    Selection
------------------------------------------------------------------ */

::-moz-selection {
	background: #001267;
	color: #fff;
}

::-webkit-selection {
	background: #001267;
	color: #fff;
}


/* ------------------------------------------------------------------
Transition elsements
------------------------------------------------------------------- */

a {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: #001267;
}


/* ------------------------------------------------------------------
Typography
------------------------------------------------------------------- */

b,
strong {
	font-weight: 900;
}

a,
a:visited,
a:active {
	color: #9ed6cb;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #001267;
	outline: 0;
}

h1:not(.site-title):before,
h2:before {
	display: none;
}

h1 {
	font-size: 40px;
	line-height: 0.9;
	text-transform: uppercase;
    letter-spacing: 0;
    font-weight: inherit;
}

@media (max-width: 991px) {
	h1 {
		font-size: 36px;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 34px;
	}
}

@media (max-width: 575px) {
	h1 {
		font-size: 28px;
	}
}

h2 {
	font-size: 30px;
	line-height: 1;
	text-transform: uppercase;
    letter-spacing: 0;
    font-weight: inherit;
    font-family: 'MyriadPro-Bold';
}

@media (max-width: 991px) {
	h2 {
		font-size: 26px;
	}
}

@media (max-width: 767px) {
	h2 {
		font-size: 22px;
	}
}

@media (max-width: 575px) {
	h2 {
		font-size: 20px;
	}
}


h3 {
	font-size: 22px;
	line-height: 1.3;
    letter-spacing: 0;
    font-weight: inherit;
    font-family: 'MyriadPro-Semibold';
}
@media (max-width: 991px) {
	h3 {
		font-size: 21px;
	}
}
@media (max-width: 767px) {
	h3 {
		font-size: 20px;
	}
}
@media (max-width: 575px) {
	h3 {
		font-size: 19px;
	}
}

.white h1, .white h2, .white h3, .white h4, .white li, .white p, .white span {
    color: #fff;
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
	margin: 0;
	margin-bottom: 15px;
}

p,
ol,
ul,
blockquote {
	margin: 0 0 15px;
	padding: 0;
}

@media (max-width: 575px) {
	.h1,
	.h2,
	.h3,
	.h4,
	h1,
	h2,
	h3,
	h4 {
		margin-bottom: 15px;
		letter-spacing: 0.4px;
	}
	p,
	ol,
	ul,
	blockquote {
		margin: 0 0 15px;
	}
}

ol li,
ul li {
	list-style: none;
}

blockquote {
	border-color: #f7f7f7;
}
*, ::after, ::before {
    box-sizing: border-box;
}

/* Forms */
input[type="email"], 
input[type="text"], 
input[type="password"], 
input[type="tel"], 
input[type="file"], 
input[type="search"], 
textarea, select {
    font-family: 'MyriadPro-Regular';
	width: 100%;
	max-width: 100%;
	height: inherit;
	display: block;
	margin: 0;
	padding: 10px 15px;
	direction: ltr;
	position: relative;
	z-index: 1;
	box-shadow: none;
	background-color: #fff;
	border: solid 1px #9ed6cb;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	color: #001267;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
textarea {
	height: 120px;
}

input[type='submit'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	border-radius: 0;
}

input[type="email"]:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="tel"]:focus, 
input[type="file"]:focus, 
input[type="search"]:focus, 
textarea:focus, 
select:focus {
	border-color: #001267;
	outline: 0;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
	font-size: 16px;
	line-height: 24px;
	color: #001267;
	font-weight: 400;
	opacity: 1;
    text-transform: uppercase;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
	font-size: 16px;
	line-height: 24px;
	color: #001267;
	font-weight: 400;
	opacity: 1;
    text-transform: uppercase;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 24px;
	color: #001267;
	font-weight: 400;
	opacity: 1;
    text-transform: uppercase;
}

select {
	cursor: pointer;
	background-image: url(../images/select_arrow.svg);
	background-position: 96% 50%;
	background-repeat: no-repeat;
	background-size: 20px;
}
.form-group {
	margin-bottom: 25px;
}
.form-group label {
	font-size: 16px;
	margin-bottom: 10px;
}
button {
	border: none;
}
button:focus {
	outline: none;
}

/**/
input[type='submit'],
.digs_btn {
    font-family: 'MyriadPro-Bold';
    position: relative;
    padding: 14px 20px;
    min-width: 190px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
    line-height: 28px;
    color: #1a2854 !important;
    background-color: #9ed6c9;
    text-align: center;
    display: inline-block;
    box-shadow: none;
    border: none;
    opacity: 1;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
input[type='submit']:hover,
.digs_btn:hover{
    color: #fff !important;
    background-color: #1a2854;
    outline: none;
}

@media(max-width:575px){
    input[type="email"], input[type="text"], input[type="password"], input[type="tel"], input[type="file"], input[type="search"], textarea, select {
        padding: 8px 10px;
        font-size: 16px;
        line-height: 22px;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder,
    select::-moz-placeholder {
        font-size: 16px;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    select:-ms-input-placeholder {
        font-size: 16px;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    select::-webkit-input-placeholder {
        font-size: 16px;
    }
    select {
        background-position: 98% 50%;
        background-size: 14px;
    }
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

/**/
.sections{
    padding: 50px 45px;
}
.sections_title{
    text-align: center;
}
.sections_title h1:after {
    content: '';
    display: block;
    width: 110px;
    height: 1px;
    background-color: #001267;
    margin: 40px auto;
}
.sections_title p {
    max-width: 800px;
    margin: 0 auto;
    font-weight: 600;
}
/* Header */
.header {
    background-color: #fff;
    width: 100%;
    display: block;
    padding-top: 54px;
    position: relative;
}
.header .mainmenu {
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding: 0 45px;
}
.header.sticky .mainmenu {
    position: fixed;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}
.header .logo {
    text-align: center;
    padding: 20px;
}
.header .logo a {
    display: inline-block;
}
.header .logo a img {
    max-width: 230px;
}



/* Billboard */
.billboard.sections{
    padding-top: 0;
    padding-bottom: 0;
}
.billboard .item {
    width: 100%;
    height: 640px;
}
.billboard .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/**/
.text_box h3 {
    font-size: 18px;
    max-width: 750px;
    margin: 0 auto;
}

/* digs_works */
.digs_works.sections {
    padding-top: 0;
}
.digs_works .container {
    padding-top: 20px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.digs_works .row {
    margin: 0 -50px;
    justify-content: center;
}
.digs_works .row .digs_box {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 50px;
    text-align: center;
    border-right: 1px solid #9ed6cb;
}
.digs_works .row .digs_box:last-child {
    border-right: none;
}
.digs_works .row .digs_box h2 {
    margin-bottom: 10px;
}
.digs_works .row .digs_box hr {
    display: block;
    width: 110px;
    height: 1px;
    background-color: #001267;
    margin: 25px auto 35px;
    border: none;
}
.digs_works .row .digs_box span {
    display: block;
    font-size: 18px;
}
.digs_works .row .digs_box p {
    margin: 0;
}
.digs_works .row .digs_box .fit_img {
    height: 460px;
    margin-bottom: 25px;
}
.digs_works .row .digs_box .fit_img img {
    object-position: top;
}
.digs_works .row .digs_box h3 {
    font-family: 'MyriadPro-Semibold';
    margin: 0;
}
.digs_works .row .digs_box h3 span {
    color: #9ed6cb;
}


/**/
.video_section {
    padding-top: 0;
}
.video_section iframe {
    width: 100%;
    height: 708px;
    display: block;
    border: none;
}

/**/
.footer.sections {
    background-color: #4b5879;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
    padding: 40px 45px 0;
}
.footer .container {
    position: relative;
    z-index: 2;
}
.footer_logo {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    opacity: 0.2;
    max-width: 640px;
    object-fit: contain;
}
.footer .row {
    align-items: center;
    justify-content: space-between;
}
.footer .left_footer {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}
.footer .right_footer {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    text-align: right;
}
.footer .left_footer p{
    font-size: 14px;
}
.footer .copy_rights p{
    opacity: 0.5;
    font-size: 12px;
}
.footer .left_footer a {
    color: #fff;
}
.footer .left_footer a:hover {
    color: #9ed6c9;
}
.footer .social_media {
    margin-bottom: 25px;
}
.footer .social_media li {
    display: inline-block;
    margin-right: 13px;
}
.footer .social_media li a {
    display: inline-block;
    font-size: 20px;
}

/* Page-loader */
.page-loader {
	background: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9998;
}
.page-loader span {
	position: absolute;
	display: inline-block;
	background: #9ed6cb;
	height: 100px;
	width: 100px;
	margin: -50px 0 0 -50px;
	left: 50%;
	top: 50%;
    transform: translate(-50%,-50%)
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-animation: page-loader 1.2s linear infinite;
	animation: page-loader 1.2s linear infinite;
}
.page-loader span:last-child {
	animation-delay: -0.6s;
	-webkit-animation-delay: -0.6s;
}
/* ====== Go-Up ====== */
.go-up {
    color: #fff;
    cursor: pointer;
    width: 34px;
    height: 28px;
    position: fixed;
    right: 20px;
    bottom: -40px;
    text-align: center;
    z-index: 10;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.go-up img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media(max-width:991px) {
    .go-up {
        width: 25px;
        height: 25px;
    }
}
@media(max-width:575px) {
	.page-loader span {
        height: 80px;
        width: 80px;
        margin: -40px 0 0 -40px;
	}
    .go-up {
        right: 10px;
        bottom: -20px;
    }
}
@keyframes page-loader {
	0% {
		transform: scale(0, 0);
		opacity: 0.8;
	}
	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

@-webkit-keyframes page-loader {
	0% {
		-webkit-transform: scale(0, 0);
		opacity: 0.8;
	}
	100% {
		-webkit-transform: scale(1, 1);
		opacity: 0;
	}
}
/* Responsive */
@media(max-width:1199px){
    .header .mainmenu {
        padding: 0 40px;
    }
    .sections {
        padding: 40px;
    }
    .billboard .item {
        height: 600px;
    }
    .digs_works .row {
        margin: 0 -30px;
    }
    .digs_works .row .digs_box {
        padding: 0 30px;
    }
    .sections_title h1::after {
        margin: 30px auto;
    }
    .video_section iframe {
        width: 100%;
        height: 520px;
    }
    .digs_works .row .digs_box .fit_img {
        height: 350px;
    }
    .footer.sections {
        padding: 30px 40px 0;
    }
}

@media(max-width: 991px){
    .header {
        padding: 10px 15px;
    }
    .header .logo {
        text-align: left;
        padding: 0px;
        display: inline-block;
    }
    .header .logo a img {
        max-width: 180px;
    }
    .header .mainmenu, .header.sticky .mainmenu {
        position: static;
        box-shadow: none;
        display: inline-block;
        float: right;
        margin-top: 40px;
        padding: 0;
    }
    .billboard .item {
        height: 510px;
    }
    .sections {
        padding: 30px 15px;
    }
    .sections_title h1::after {
        margin: 25px auto;
        width: 90px;
    }
    .digs_works .row .digs_box hr {
        width: 90px;
        margin: 20px auto 30px;
    }
    .digs_works .row {
        margin: 0 -20px;
    }
    .digs_works .row .digs_box {
        padding: 0 20px;
    }
    .digs_works .row .digs_box .fit_img {
        height: 320px;
        margin-bottom: 15px;
    }
    .digs_works .row .digs_box span,
    .digs_works .row .digs_box h3 {
        font-size: 16px;
    }
    .video_section iframe{
        height: 450px;
    }
    .footer_logo {
        max-width: 500px;
    }
    input[type='submit'],
    .digs_btn {
        padding: 12px 20px;
        min-width: 180px;
        font-size: 16px;
        line-height: 26px;
    }
    .footer .social_media {
        margin-bottom: 20px;
    }
    .text_box h3 {
        font-size: 17px;
    }
}
@media(max-width: 767px){
    .billboard .item {
        height: 450px;
    }
    .digs_works .row {
        display: block;
    }
    .digs_works .row .digs_box {
        max-width: 300px;
        border-right: none;
        margin: 0 auto 50px;
    }
    .digs_works .row .digs_box hr {
        width: 70px;
        margin: 15px auto 25px;
    }
    .digs_works .row .digs_box:last-child {
        margin-bottom: 0;
    }
    .footer .left_footer > div {
       padding: 0 20px;
    }
    .footer .row {
        display: block;
    }
    .footer.sections {
        text-align: center;
    }
    .footer .left_footer {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
    }
    .footer .right_footer {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .footer .left_footer p {
        font-size: 13px;
    }
    .footer .social_media li a {
        font-size: 18px;
    }
    .footer .copy_rights p {
        font-size: 11px;
    }
    .footer_logo {
        max-width: 120%;
    }
    input[type='submit'],
    .digs_btn {
        padding: 10px 17px;
        min-width: 140px;
        font-size: 15px;
        line-height: 24px;
    }
    .video_section iframe {
        height: 380px;
    }
    .sections_title h1::after {
        margin: 20px auto;
        width: 70px;
    }
    .text_box h3 {
        font-size: 16px;
    }
}
@media(max-width: 575px){
    .billboard .item {
        height: 360px;
    }
    .header .logo a img {
        max-width: 140px;
    }
    .header .mainmenu, .header.sticky .mainmenu {
        margin-top: 30px;
    }
    .sections {
        padding: 25px 15px;
    }
    .video_section iframe {
        height: 250px;
    }
}
@media(max-width: 420px){
    .billboard .item {
        height: 250px;
    }
}

/* Contact Page */
.contact_page form {
    max-width: 1100px;
    margin: 0 auto;
}
.contact_page .row{
    margin-bottom: 40px;
}
.contact_page .row .col_left{
    flex: 0 0 24%;
    max-width: 24%;
}
.contact_page .row .col_left h2{
    margin-bottom: 0;
    font-size: 36px;
}
.contact_page .row .col_left p{
    font-size: 26px;
    text-transform: uppercase;
}
.contact_page .row .col_right{
    flex: 0 0 76%;
    max-width: 76%;
    border-left: 1px solid #001267;
    padding-left: 40px;
}
.contact_page .row .col_right .form_field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.contact_page .row .col_right .form_field.align-items-start {
    align-items: flex-start;
}
.contact_page .row .col_right .form-group label {
    flex: 0 0 200px;
    max-width: 200px;
    text-align: right;
    margin: 0;
    padding-right: 35px;
    text-transform: uppercase;
    font-size: 20px;
}
.contact_page .row .col_right .form-group .input_field {
    flex: auto;
    width: auto;
}
.submit_btn {
    text-align: center;
    margin-top: 40px;
}
.submit_btn input[type='submit'] {
    border: 2px solid #1a2854;
    background-color: #fff;
}
.submit_btn input[type='submit']:hover {
    background-color: #1a2854;
}

.contact_page .row .col_right .form-group ul.radio_points {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.contact_page .row .col_right .form-group ul.radio_points li {
	display: inline-block;
	position: relative;
    margin: 0 15px 10px;
}
.contact_page .row .col_right .form-group ul.radio_points li label {
    cursor: pointer;
    position: relative;
    width: 100%;
    padding-left: 34px;
    padding-right: 0;
    text-align: left;
}
.contact_page .row .col_right .form-group ul.radio_points li label:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #1a2854;
}
.contact_page .row .col_right .form-group ul.radio_points li label::after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: "";
	height: 8px;
	opacity: 0;
	position: absolute;
	top: 3px;
	left: 5px;
	transform: rotate(-45deg);
	width: 14px;
	cursor: pointer;
}
.contact_page .row .col_right .form-group ul.radio_points li input[type="checkbox"] {
    display: none;
}
.contact_page .row .col_right .form-group ul.radio_points li input[type="checkbox"]:checked + label:before {
    background-color: #1a2854;
}
.contact_page .row .col_right .form-group ul.radio_points li input[type="checkbox"]:checked + label:after {
    opacity: 1;
}



.form-group.col_half {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.form-group.col_half .form_field {
    flex: 0 0 50%;
    max-width: 50%;
}
.form-group.col_half .form_field .input_field {
    flex: 0 0 197px;
    max-width: 197px;
}
@media(max-width: 1199px){
    .contact_page form {
        max-width: 900px;
    }
    .contact_page .row .col_right {
        padding-left: 20px;
    }
    .contact_page .row .col_right .form-group label {
        flex: 0 0 130px;
        max-width: 130px;
        padding-right: 16px;
        font-size: 18px;
    }
    .contact_page .row .col_right .form-group ul.radio_points li {
        max-width: 45%;
        flex: 0 0 45%;
    }
}
@media(max-width: 991px){
    .contact_page .row .col_left {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact_page .row .col_right {
        flex: 0 0 100%;
        max-width: 100%;
        border-left: none;
        border-top: 1px solid #001267;
        padding-left: 0;
        padding-top: 30px;
    }
    .form-group.col_half .form_field .input_field {
        flex: 0 0 320px;
        max-width: 320px;
    }
    .contact_page .row .col_left h2 {
        font-size: 30px;
    }
    .contact_page .row .col_left p {
        font-size: 22px;
    }
    .submit_btn {
        margin-top: 30px;
    }
}
@media(max-width: 767px){
    .form-group.col_half {
        display: block;
    }
    .form-group.col_half .form_field {
        max-width: inherit;
        margin-bottom: 25px;
    }
    .form-group.col_half .form_field .input_field {
        max-width: 100%;
    }
    .contact_page .row .col_right .form-group ul.radio_points li {
        max-width: 43%;
        flex: 0 0 43%;
    }
    .contact_page .row {
        margin-bottom: 20px;
    }
}
@media(max-width: 575px){
    .submit_btn {
        margin-top: 0;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .contact_page .row .col_right .form_field {
        display: block;
    }
    .contact_page .row .col_right .form-group label {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 7px;
        font-size: 15px;
        text-align: left;
    }
    .contact_page .row .col_right .form-group ul.radio_points {
        display: block;
        margin: 0;
    }
    .contact_page .row .col_right .form-group ul.radio_points li {
        max-width: 100%;
        margin: 0 0 16px;
        display: block;
    }
    .contact_page .row .col_right .form-group ul.radio_points li label::before {
        width: 20px;
        height: 20px;
    }
    .contact_page .row .col_right .form-group ul.radio_points li label {
        padding-left: 28px;
    }
    .contact_page .row .col_left h2 {
        font-size: 26px;
    }
    .contact_page .row .col_left p {
        font-size: 20px;
    }
    .contact_page .row .col_right .form-group ul.radio_points li label::after {
        top: 2px;
        left: 4px;
        height: 7px;
        width: 12px;
    }
}














